@import url('https://fonts.googleapis.com/css2?family=Preahvihear&display=swap');

body {
    background-color: black;   
    background: url('../img/bg-sb1.svg');    
    background-size: cover;
    color: white;
    font-family: 'Preahvihear', sans-serif;
    font-size: 2rem;    
}

.main {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.gameArea {
    display: flex;
    align-items: center;
}

#center-screen{
    position: absolute;
    margin-top: -275px;    
}

#loading {
    width: 75px;
    height: 75px;
    padding-left:10px;
    position: absolute;
    margin-top: -75px;    
}

.hud {
    padding-right: 25px;  
    padding-left: 25px;
}

.hud img {
    width: 75px;
    height: 75px;
}

.player {
    position: absolute;
}

.hide {
    display: none;
}

.action-btn{
    text-decoration: none;
    color: black;
    border: 1px solid #06365f;
    border-radius: 10px;
    width:150px;
    height:55px;
    font-weight: bold;
    margin-top: 15px; 
    font-size: 1.5rem;   
    font-family: 'Preahvihear', sans-serif;        
}

#start-button {
    text-decoration: none;
    color: black;
    border: 1px solid #06365f;
    border-radius: 10px;
    width:150px;
    height:55px;
    font-weight: bold;
    margin-top: 15px;
}
